*{
    margin: 0px;
    padding: 0px;
    
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
/* font-weight: <weight>; */
    font-style: normal;
    color:aliceblue
}
body{
    
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364); 
}
.dop{
    display: none;
}
.nav{
    
    
    background-color: rgb(9, 117, 99);
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
    box-shadow: 0px .5px 10px rgb(9, 117, 99);

    

}

.nav h1{
    text-align: left;
    font-weight: 800;
    


}


.nav h1:hover{
    text-align: left;
    font-weight: 900;
    color: rgb(255, 255, 255);
    


}

.nav li{
    display: inline;
    margin-right: 5px;

}


.nav li:hover{
    color: #dadada;
    cursor: grab;
    font-size: 1.1rem;
    
}


.clicked-style{
    color: #1a1919;
    font-size: large;
    text-decoration: underline ;

}
header{
    min-height: 100vh;
}

footer{
    padding: 5px;
    background-color: #000000;
}
footer p{
    margin-bottom: 6px;
}

@media (max-width: 678px) {
  .navtab{
    display: none;
  }
  .dop{
    display: block;
  }
  .nav li:hover{
    color: #000000;
    cursor: grab;
    font-size: 1.1rem;
    
}

}

.dop{
    padding: 5px;
}
.dop button{
    background-color: #2c5364;
}
.dropdown-menu{
    background-color: rgb(9, 117, 99);
}

.dropdown-menu li:hover{
    background-color: rgb(25, 102, 89);
}

.coffee p{
    color: black;
    
}